@{
    ViewBag.Title = "Home Page";
}

        <!-- CORE : begin -->
<div id="core">

    <!-- PAGE TITLE : begin -->
    <div id="page-title" class="m-parallax">

        <!-- PAGE TITLE TOP : begin -->
        <div class="page-title-top" style="display: block; background-position: 50% -44px;">
            <div class="page-title-top-inner">

                <!-- PAGE TITLE TEXT : begin -->
                <div class="page-title-text">
                    <div class="container">
                        <h1>Plumbing. Painting.<br><strong>Anything</strong>!</h1>
                    </div>
                </div>
                <!-- PAGE TITLE TEXT : end -->
                <!-- PAGE TITLE SERVICES : begin -->
                <div class="page-title-services">
                    <div class="container">

                        <!-- SERVICE LIST : begin -->
                        <ul class="c-service-list m-type-2 m-4-per-row">

                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-plumbing-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-wrench"></i></span>
                                                    <h3><a href="service-detail.html">Plumbing</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>The Big Oxmox advised her not to do so, because.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-electricity-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-lightning-bolt"></i></span>
                                                    <h3><a href="service-detail.html">Electricity</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>A small river named Duden flows by their place and supplies.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-sanitary-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-droplet"></i></span>
                                                    <h3><a href="service-detail.html">Sanitary</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>But nothing the copy said could convince her and so it.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-heating-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-fire"></i></span>
                                                    <h3><a href="service-detail.html">Heating</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>She packed her seven versalia, put her initial into the belt.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-roofing-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-home"></i></span>
                                                    <h3><a href="service-detail.html">Roofing</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>When she reached the first hills of the Italic Mountains.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-renovation-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-ruler"></i></span>
                                                    <h3><a href="service-detail.html">Renovation</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>Bookmarksgrove, the headline of Alphabet Village.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-painting-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-paintbrush"></i></span>
                                                    <h3><a href="service-detail.html">Painting</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>Pityful a rethoric question ran over her cheek.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->
                            <!-- SERVICE : begin -->
                            <li class="c-service m-type-2">
                                <div class="service-inner">

                                    <div class="service-title" style="background-image: url( '/Content/images/service-sewerage-th.jpg' );">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="service-icon"><i class="im im-loading"></i></span>
                                                    <h3><a href="service-detail.html">Sewerage</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-description">
                                        <div>
                                            <div>
                                                <p>The copy warned the Little Blind Text, that where it came.</p>
                                                <p><a href="service-detail.html" class="c-button m-size-small">More Info</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- SERVICE : end -->

                        </ul>
                        <!-- SERVICE LIST : end -->

                    </div>
                </div>
                <!-- PAGE TITLE SERVICES : end -->

            </div>
        </div>
        <!-- PAGE TITLE TOP : end -->
        <!-- PAGE TITLE BOTTOM : begin -->
        <div class="page-title-bottom">
            <div class="container">
                <div class="page-title-bottom-inner">
                    <div class="page-title-bottom-inner2">

                        <!-- PAGE TITLE BAR : begin -->
                        <div class="page-title-bar">
                            <div class="page-title-bar-inner">

                                <ul class="page-title-bar-left">
                                    <li><i class="fa fa-phone"></i><strong>(123) 456 789</strong></li>
                                    <li><i class="fa fa-envelope-o"></i><strong><a href="#">help@bluecollar.com</a></strong></li>
                                    <li class="social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- PAGE TITLE BAR : end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE TITLE BOTTOM : end -->

    </div>
    <!-- PAGE TITLE : end -->
    <!-- PAGE CONTENT : begin -->
    <div id="page-content">

        <!-- INTRO SECTION : begin -->
        <section class="c-section">
            <div class="section-inner">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">

                            <p class="hidden-sm hidden-xs"><img src="/Content/images/home-handyman-01.png" class="margin-top-negative-70" alt=""></p>

                        </div>
                        <div class="col-md-8">

                            <hr class="c-divider m-transparent m-size-medium hidden-xs hidden-sm hidden-md">
                            <h2><strong>25 Years of Experience</strong><br>in Home Maintenance Business</h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            <p><a href="contact.html" class="c-button m-size-medium">Let's Get The Job Done</a></p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- INTRO SECTION : end -->
        <!-- FEATURES SECTION : begin -->
        <section class="c-section">
            <div class="section-inner">
                <div class="container">

                    <hr class="c-divider m-size-medium">

                    <div class="row">
                        <div class="col-md-4">

                            <!-- FEATURE : begin -->
                            <div class="c-feature">
                                <i class="feature-icon im im-license"></i>
                                <h3 class="feature-title">Certification</h3>
                                <div class="feature-text">
                                    <p>Our handymen are certified and highly experienced professionals.</p>
                                </div>
                            </div>
                            <!-- FEATURE : end -->

                            <hr class="c-divider m-transparent hidden-lg hidden-md">

                        </div>
                        <div class="col-md-4">

                            <!-- FEATURE : begin -->
                            <div class="c-feature">
                                <i class="feature-icon im im-clock2"></i>
                                <h3 class="feature-title">24/7 Availability</h3>
                                <div class="feature-text">
                                    <p>Having a hard time with your toilet in the middle of the night? Call us!</p>
                                </div>
                            </div>
                            <!-- FEATURE : end -->

                            <hr class="c-divider m-transparent hidden-lg hidden-md">

                        </div>
                        <div class="col-md-4">

                            <!-- FEATURE : begin -->
                            <div class="c-feature">
                                <i class="feature-icon im im-cash"></i>
                                <h3 class="feature-title">Fair Prices</h3>
                                <div class="feature-text">
                                    <p>We aren't cheapest, but we won't ruin your wallet either. We promise!</p>
                                </div>
                            </div>
                            <!-- FEATURE : end -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- FEATURES SECTION : end -->
        <section class="c-parallax-section m-dynamic m-has-overlay" style="display: block; background-image: url(http://demos.volovar.net/bluecollar.html/demo/images/testimonials-section-bg.jpg);">
            <div class="section-inner">
                <div class="container">

                    <h2>Hear From Our <strong>Happy Clients</strong></h2>
                    <div class="row">
                        <div class="col-md-4">

                            <!-- TESTIMONIAL : begin -->
                            <div class="c-testimonial">
                                <blockquote>
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    <footer><cite><strong>Angela Lee</strong>, Lawyer</cite></footer>
                                </blockquote>
                            </div>
                            <!-- TESTIMONIAL : end -->

                            <hr class="c-divider hidden-lg hidden-md">

                        </div>
                        <div class="col-md-4">

                            <!-- TESTIMONIAL : begin -->
                            <div class="c-testimonial">
                                <blockquote>
                                    <p>One day however a small line of blind text by the name of Lorem Ipsum decided.</p>
                                    <footer><cite><strong>Mick Neil</strong>, Landlord</cite></footer>
                                </blockquote>
                            </div>
                            <!-- TESTIMONIAL : end -->

                            <hr class="c-divider hidden-lg hidden-md">

                        </div>
                        <div class="col-md-4">

                            <!-- TESTIMONIAL : begin -->
                            <div class="c-testimonial">
                                <blockquote>
                                    <p>The Big Oxmox advised her not to do so, because there were thousands.</p>
                                    <footer><cite><strong>Tommy Mars</strong>, Freelancer</cite></footer>
                                </blockquote>
                            </div>
                            <!-- TESTIMONIAL : end -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- PAGE CONTENT : end -->

</div>
<!-- CORE : end -->